.container{
    padding-top: 42px;
}
.col{
    background: hsla(9, 100%, 64%, 0.43);
    text-align: center;}

/*Header*/
.top{
    margin-bottom: 42px;
}
.top .col{
    height: 63px;
}
.navigation{
    margin-bottom: 21px;
}
/*heder-filter*/
.filter-age, .filter-btn{
    margin-bottom: 21px;
}
.filter-select, .filter-style {
    margin-bottom: 42px;
}
.filter-select .col, .filter-btn .col{
    height: 42px;
}
.hidden{
    display: none;
}
/*main*/
/*배너*/
.banner-img{
    margin-bottom: 21px;
}
.banner-img .col{
    height: 441px;
}
.banner-btn{
    margin-bottom: 42px;
}
/*베스트셀러*/
.best-item-title{
    margin-bottom: 21px;
}
.best-item-list{
    margin-bottom: 42px;
}
.best-item-list .col{
    height: 357px;
}
/*브랜드*/
.brand-title{
    margin-bottom: 21px;
}
.brand-list .col{
    height: 147px  
}