html{
    font-size: 10px;
}
body{
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Motserrat', sans-serif;
}
h1{
  font-size: 3.5rem;
}


/*=============================================
=                  action01                 =
=============================================*/

.action01{
    width: 1200px;
    height: 370px;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    background: url("../images/CallToAction01_BG.png") no-repeat;
    background-size: cover;
}
.action01 h1{
    width: 230px;
    margin: 0 auto;
    padding-top: 75px;
}
.action01 p{
    width: 400px;
    margin: 30px auto 0 auto;
    text-align: center;
}
.action01 form{
    position: relative;
    width: 470px;
    margin: 50px auto 0 auto;
}
.action01 input{
    width: 395px;
    height: 45px;
    box-sizing: border-box;
    padding-left: 15px;
    background: #5b5c5d;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.action01 button{
    position: absolute;
    top: 0;
    right : 0;
    width: 145px;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 30px;
    color: #5b5c5d;
    font-size: 1.3rem;
}

/*=============================================
=                  action02                 =
=============================================*/
.action02{
    width: 1200px;
    height: 500px;
    box-sizing: border-box;
    margin : 0 auto 30px auto;
    background: url("../images/CallToAction02_BG.png") no-repeat;
}
.action02 h1{
    width: 340px;
    margin: 0 auto;
    padding-top: 110px;
    color: #fff;
    text-align: center;
}
.action02 form{
    width: 470px;
    margin: 65px auto 0 auto;
}
.action02-name, .action02-email{
    width: 225px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(0,0,0,0.6);
    color: #fff;
}
.action02-name{
    margin-right: 10px;
}
.action02 button{
    display: block;
    width: 230px;
    height: 45px;
    margin:30px auto 0 auto;
    background: #1b8bf9;
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-size: 1.3rem;
}
/*=============================================
=                  action03                 =
=============================================*/
.action03{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 180px;
    box-sizing: border-box;
    margin : 0 auto 30px auto;
    background: #1b8bf9;
}
.action03 form{
    position: relative;
    width: 475px;
}
.action03-email{
    width: 400px;
    height: 43px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background: #1e6cb9;
    color: #fff;
    }
.action03 button{
    position: absolute;
    right: 25px;
    top: 0;
    width: 150px;
    height: 43px;
    border: none;
    border-radius: 30px;
    background: #fff;
}