body{
  overflow-x: visible;
}
.container{
  margin-top: 10px;
}
.box.column{
  position: relative;
}
div{
  margin: 5px;
}
ul{
  list-style: none;
  padding-left: 0;
  margin : 10px;
}
li{
  margin: 5px;
}
.button{
  margin : 10px;
}
.layer-area {
  position : absolute;
  left : 0px;
  top : 0px;
  background: #fff;
  padding: 20px;  
  border : 4px solid #ddd;
}
div[aria-hidden="ture"]{
  display: none;
}