@charset "UTF-8";
.container {
  padding-top: 42px; }

a {
  color: inherit;
  text-decoration: none; }

/*Header*/
.top {
  margin-bottom: 42px; }

.top .col {
  height: 63px; }

.top h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left; }

.top .logo {
  height: 100%; }

.top fieldset {
  margin: 10.5px auto 0 auto;
  padding: 0;
  width: 380px;
  border: none;
  position: relative; }

.top fieldset:after {
  content: '';
  position: absolute;
  top: 14px;
  right: 14px;
  width: 14px;
  height: 14px;
  background: url(../images/icons/icons.svg) no-repeat;
  background-size: 20px auto;
  background-position-y: -142px;
  overflow: hidden; }

.top input {
  height: 42px;
  width: 380px;
  border: 2px solid #555656;
  color: #999999; }

.top button {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  font-size: 0;
  cursor: pointer; }

.top ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: #991717;
  font-weight: bold; }

.top li {
  margin-top: 21px;
  margin-left: 5px;
  display: inline-block; }

.top li a {
  padding: 5px 10px; }

.top li a:hover, .top li a:focus {
  border: 1px solid #991717;
  border-radius: 2px; }

.top li:last-child {
  margin-left: 10px; }

/*header-navigation*/
.main-menu {
  margin-bottom: 21px; }

.main-menu ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.main-menu li {
  display: inline-block;
  width: 64px;
  text-align: center;
  position: relative;
  margin-right: 20px; }

.main-menu li:last-child {
  margin-right: 0; }

.main-menu li a {
  position: absolute;
  width: 100%;
  height: 25px;
  line-height: 25px;
  top: -20px;
  left: 0;
  display: block; }

.main-menu li a:focus {
  background: #bd1d31;
  border-radius: 2px;
  color: #fff; }

.main-menu li a:hover, .main-menu li a:active {
  border-bottom: 2px solid #bd1d31; }

.filter-toggle {
  position: relative;
  width: 100%;
  text-align: center;
  height: 42px;
  background: #ddd;
  color: #991717;
  border-top: 3px solid #bd1d31;
  position: relative; }

.filter-toggle:before {
  position: absolute;
  left: 690px;
  top: 14px;
  content: '';
  width: 16px;
  height: 14px;
  background: url(../images/icons/icons.svg) no-repeat;
  background-size: 20px auto;
  background-position: 0 -62px; }

.filter-toggle label {
  cursor: pointer; }

.filter-toggle > label {
  line-height: 42px; }

.filter-toggle #toggle:checked ~ .filter-show {
  display: block; }

.filter-toggle .filter-show {
  display: none;
  background: #ddd; }

.filter-toggle fieldset {
  margin: -3px auto 0 auto;
  padding: 21px 0 0 0;
  border: none;
  width: 1060px; }

.filter-toggle dl {
  margin: 0;
  display: flex;
  color: #fff; }

.filter-toggle dl label {
  display: block;
  font-size: 1.2rem;
  width: 70px;
  height: 21px;
  line-height: 21px;
  background: #aaa;
  border-radius: 2px; }

.filter-toggle dl input:checked ~ label, .filter-toggle dl label:hover {
  background: #bd1d31; }

.filter-toggle dt {
  color: #333;
  font-size: 1.6rem; }

.filter-toggle .age-filter {
  margin-bottom: 21px; }

.filter-toggle .style-filter {
  margin-bottom: 42px; }

.filter-toggle .reset-btn, .filter-toggle .submit-btn {
  border-radius: 15.5px;
  border: none;
  padding: 0;
  height: 31px;
  background: #aaa;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer; }

.filter-toggle .reset-btn {
  margin-right: 10px;
  width: 85px; }

.filter-toggle .submit-btn {
  margin-bottom: 21px;
  width: 129px; }

.filter-toggle .reset-btn:hover, .filter-toggle .submit-btn:hover {
  background: #bd1d31; }

/*main*/
/*배너*/
.banner-img {
  margin-top: 42px;
  margin-bottom: 21px; }

.banner-img .col {
  height: 441px; }

.banner-btn {
  margin-bottom: 42px;
  text-align: center; }

.banner-btn a {
  display: inline-block;
  width: 10px;
  height: 0px;
  padding-top: 10px;
  margin-right: 10px;
  overflow: hidden;
  background: #cccccc;
  border-radius: 100%; }

.banner-btn a:hover, .banner-btn a:focus {
  background: #bd1d31; }

/*좋아요 버튼 공통 요소*/
[class*="group"] label {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 0px;
  padding-top: 15px;
  background: url(../images/icons/icons.svg) no-repeat;
  background-size: 20px auto;
  background-position-y: -110px;
  overflow: hidden; }

[class*="group"] input:checked + label {
  background-position-y: -96px; }

/*베스트셀러*/
.best-item .best-item-title, .best-item .new-item-title, .new-item .best-item-title, .new-item .new-item-title {
  margin-bottom: 21px; }

.best-item .best-item-title h3, .best-item .new-item-title h3, .new-item .best-item-title h3, .new-item .new-item-title h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 2.2rem;
  height: 21px;
  color: #333333; }

.best-item .best-item-group, .best-item .new-item-group, .new-item .best-item-group, .new-item .new-item-group {
  margin-bottom: 42px;
  padding-left: 0;
  text-align: center; }

.best-item .best-item-group .col, .best-item .new-item-group .col, .new-item .best-item-group .col, .new-item .new-item-group .col {
  position: relative;
  display: block;
  height: 357px;
  border: 1px solid #ddd; }

.best-item .best-item-group img, .best-item .new-item-group img, .new-item .best-item-group img, .new-item .new-item-group img {
  margin-top: 21px;
  margin-bottom: 15px; }

.best-item .best-item-group p, .best-item .new-item-group p, .new-item .best-item-group p, .new-item .new-item-group p {
  text-align: left;
  margin-left: 21px;
  margin-top: 0;
  margin-bottom: 0; }

.best-item .best-item-group p:nth-child(3), .best-item .new-item-group p:nth-child(3), .new-item .best-item-group p:nth-child(3), .new-item .new-item-group p:nth-child(3) {
  margin-bottom: 18px; }

.best-item .best-item-group label, .best-item .new-item-group label, .new-item .best-item-group label, .new-item .new-item-group label {
  bottom: 23px;
  right: 18px; }

.best-item .item-title, .new-item .item-title {
  color: #333; }

.best-item .item-brief, .new-item .item-brief {
  color: #666; }

.best-item .item-price, .new-item .item-price {
  font-size: 1.8rem;
  color: #991717; }

.best-item a, .new-item a {
  display: block;
  width: 100%;
  height: 100%; }

.best-item a:hover, .new-item a:hover {
  border: 2px solid #bd1d31; }

/*브랜드*/
.brand {
  position: relative; }

.brand:after, .brand:before {
  content: "";
  height: 147px;
  width: 22px;
  border-radius: 2px;
  border: 1px solid #ddd;
  position: absolute;
  top: 42px;
  background: #f0f0f0 url(../images/icons/arrow.png) no-repeat; }

.brand:before {
  left: -20px;
  background-position: 7px 69px; }

.brand:after {
  right: -20px;
  background-position: -13px 69px; }

.brand-title {
  margin-bottom: 21px; }

.brand-title h3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 21px;
  color: #333;
  font-size: 2.2rem;
  font-weight: normal; }

.brand-group {
  padding-left: 0;
  margin: 0;
  list-style: none; }

.brand-group .brand-list {
  height: 147px;
  position: relative;
  margin-bottom: 42px; }

.brand-group .brand-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 27px;
  color: #fff;
  text-shadow: -1px 0 4px #666, 0 1px 4px #666, 1px 0 4px #666, 0 -1px 4px #666;
  height: 126px;
  line-height: 126px;
  text-align: center; }

.brand-group .brand-num {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5); }

.brand-group .brand-list:nth-child(1) {
  background: url(../images/brand/brand-01.jpg); }

.brand-group .brand-list:nth-child(2) {
  background: url(../images/brand/brand-02.jpg); }

.brand-group .brand-list:nth-child(3) {
  background: url(../images/brand/brand-03.jpg); }

.brand-group .brand-list:nth-child(4) {
  background: url(../images/brand/brand-04.jpg); }

.brand-group label {
  bottom: 5px;
  right: 3px; }
